/.metadata/
Project/.metadata/
Project/ClientSide/target/m2e-wtp/web-resources/META-INF/maven/ClientSide/ClientSide/pom.properties
Project/ServerSide/target/m2e-wtp/web-resources/META-INF/maven/ServerSide/ServerSide/pom.properties
AlexDB.bat