<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ClientSide</display-name>
  <welcome-file-list>
    <welcome-file>be.pirbaert.servlets.SignIn</welcome-file>
  </welcome-file-list>
  
  
<!--  PARAM SESSION -->
  	<session-config>
     	<session-timeout>
            60
     	</session-timeout>
	</session-config>
  
  <!--   SERVLETS  -->
	<servlet>
  		<servlet-name>SignIn</servlet-name>
  		<servlet-class>be.pirbaert.servlets.SignIn</servlet-class>
	</servlet>
  
  	<servlet>
  		<servlet-name>ConsultFines</servlet-name>
  		<servlet-class>be.pirbaert.servlets.ConsultFines</servlet-class>
	</servlet>
  
  	<servlet>
  		<servlet-name>AddCharged</servlet-name>
  		<servlet-class>be.pirbaert.servlets.AddCharged</servlet-class>
	</servlet> 
	
  	<servlet>
  		<servlet-name>AddVehicle</servlet-name>
  		<servlet-class>be.pirbaert.servlets.AddVehicle</servlet-class>
	</servlet>	 
	
  	<servlet>
  		<servlet-name>AddRegistration</servlet-name>
  		<servlet-class>be.pirbaert.servlets.AddRegistration</servlet-class>
	</servlet>		
	
	<servlet>
  		<servlet-name>AcceptDeclineFine</servlet-name>
  		<servlet-class>be.pirbaert.servlets.AcceptDeclineFine</servlet-class>
	</servlet>
 
 	<servlet>
  		<servlet-name>SendLetter</servlet-name>
  		<servlet-class>be.pirbaert.servlets.SendLetter</servlet-class>
	</servlet>
	
	<servlet>
  		<servlet-name>AddFine</servlet-name>
  		<servlet-class>be.pirbaert.servlets.AddFine</servlet-class>
	</servlet>

	<servlet>
  		<servlet-name>CreateAccount</servlet-name>
  		<servlet-class>be.pirbaert.servlets.CreateAccount</servlet-class>
	</servlet>
	
	<servlet>
  		<servlet-name>ManageAccount</servlet-name>
  		<servlet-class>be.pirbaert.servlets.ManageAccount</servlet-class>
	</servlet>	
	
	<servlet>
 		<servlet-name>MenuAdmin</servlet-name>
  		<servlet-class>be.pirbaert.servlets.MenuAdmin</servlet-class>
	</servlet>	

	<servlet>
 		<servlet-name>UpdateAccount</servlet-name>
  		<servlet-class>be.pirbaert.servlets.UpdateAccount</servlet-class>
	</servlet>	

	<servlet>
 		<servlet-name>ViolationCreate</servlet-name>
  		<servlet-class>be.pirbaert.servlets.ViolationCreate</servlet-class>
	</servlet>	
	
	<servlet>
 		<servlet-name>ViolationMenu</servlet-name>
  		<servlet-class>be.pirbaert.servlets.ViolationMenu</servlet-class>
	</servlet>	

	<servlet>
 		<servlet-name>ViolationUpdate</servlet-name>
  		<servlet-class>be.pirbaert.servlets.ViolationUpdate</servlet-class>
	</servlet>	
	
	<servlet>
 		<servlet-name>SubordinateAdd</servlet-name>
  		<servlet-class>be.pirbaert.servlets.SubordinateAdd</servlet-class>
	</servlet>	
	
	<servlet>
 		<servlet-name>VehicleTypeCreate</servlet-name>
  		<servlet-class>be.pirbaert.servlets.VehicleTypeCreate</servlet-class>
	</servlet>	
	
	<servlet>
 		<servlet-name>VehicleTypeManage</servlet-name>
  		<servlet-class>be.pirbaert.servlets.VehicleTypeManage</servlet-class>
	</servlet>	
	
	<servlet>
 		<servlet-name>VehicleTypeUpdate</servlet-name>
  		<servlet-class>be.pirbaert.servlets.VehicleTypeUpdate</servlet-class>
	</servlet>	
			
  <!-- SERVLETS MAPPING -->
	<servlet-mapping>
  		<servlet-name>SignIn</servlet-name>
  		<url-pattern>/SignIn</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
  		<servlet-name>ConsultFines</servlet-name>
  		<url-pattern>/ConsultFines</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>AddCharged</servlet-name>
  		<url-pattern>/AddCharged</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>AddVehicle</servlet-name>
  		<url-pattern>/AddVehicle</url-pattern>
	</servlet-mapping>	

	<servlet-mapping>
  		<servlet-name>AddRegistration</servlet-name>
  		<url-pattern>/AddRegistration</url-pattern>
	</servlet-mapping>		

	<servlet-mapping>
  		<servlet-name>AcceptDeclineFine</servlet-name>
  		<url-pattern>/AcceptDeclineFine</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
  		<servlet-name>SendLetter</servlet-name>
  		<url-pattern>/SendLetter</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>AddFine</servlet-name>
  		<url-pattern>/AddFine</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>CreateAccount</servlet-name>
  		<url-pattern>/CreateAccount</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
  		<servlet-name>ManageAccount</servlet-name>
  		<url-pattern>/ManageAccount</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>MenuAdmin</servlet-name>
  		<url-pattern>/MenuAdmin</url-pattern>
	</servlet-mapping>	

	<servlet-mapping>
  		<servlet-name>UpdateAccount</servlet-name>
  		<url-pattern>/UpdateAccount</url-pattern>
	</servlet-mapping>	

	<servlet-mapping>
  		<servlet-name>ViolationCreate</servlet-name>
  		<url-pattern>/ViolationCreate</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
  		<servlet-name>ViolationMenu</servlet-name>
  		<url-pattern>/ViolationMenu</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
  		<servlet-name>ViolationUpdate</servlet-name>
  		<url-pattern>/ViolationUpdate</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
  		<servlet-name>VehicleTypeCreate</servlet-name>
  		<url-pattern>/VehicleTypeCreate</url-pattern>
	</servlet-mapping>	
		<servlet-mapping>
  		<servlet-name>VehicleTypeManage</servlet-name>
  		<url-pattern>/VehicleTypeManage</url-pattern>
	</servlet-mapping>	
		<servlet-mapping>
  		<servlet-name>SubordinateAdd</servlet-name>
  		<url-pattern>/SubordinateAdd</url-pattern>
	</servlet-mapping>	
		<servlet-mapping>
  		<servlet-name>VehicleTypeUpdate</servlet-name>
  		<url-pattern>/VehicleTypeUpdate</url-pattern>
	</servlet-mapping>	
</web-app>